In [1]:
import sys 
import numpy
import pandas 
import matplotlib
import seaborn
import scipy
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
print('Python: {}'.format(sys.version))
print('Numpy: {}'.format(numpy.__version__))
print('Pandas: {}'.format(pandas.__version__))
print('Matplotlib: {}'.format(matplotlib.__version__))
print('Seaborn: {}'.format(seaborn.__version__))
print('Scipy: {}'.format(scipy.__version__))

Python: 3.6.5 |Anaconda, Inc.| (default, Apr 26 2018, 08:42:37)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Numpy: 1.14.3
Pandas: 0.23.0
Matplotlib: 2.2.2
Seaborn: 0.8.1
Scipy: 1.1.0

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
adult = pd.read_csv("adult.data") 
print(adult.shape)
print(adult.columns)
type(adult)

(32561, 15)
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

pandas.core.frame.DataFrame

In [3]:
adult['income']=adult['income'].map({' <=50K':1,' >50K':0}).astype(int)

In [4]:
adult['sex']=adult['sex'].map({' Male':1,' Female':0}).astype(int)

In [5]:
mapp={' White':0,' Amer-Indian-Eskimo':1,' Asian-Pac-Islander':2,' Black':3,' Other':4}
adult['race']= adult['race'].map(mapp)

In [6]:
mapp = {' Unmarried':0,' Wife':1,' Husband':2,' Not-in-family':3,' Own-child':4,' Other-relative':5, ' ?':6}
adult['relationship'] =  adult['relationship'].map(mapp)

In [7]:
mapp = {' Married-civ-spouse':0,' Divorced':1,' Never-married':2,' Separated':3,' Widowed':4,' Married-spouse-absent':5, ' Married-AF-spouse':6, ' ?':7}
adult['marital-status'] =  adult['marital-status'].map(mapp)

In [8]:
employment_map = {' Federal-gov':1,' Local-gov':1,' Private':3, ' Self-emp-inc':2,' Self-emp-not-inc':2,' State-gov':1,' Without-pay':0, ' ?':0, ' Never-worked':0}
adult['workclass'] = adult['workclass'].map(employment_map)

In [9]:
mapp = {' Tech-support':0, ' Craft-repair':1, ' Other-service':2, ' Sales':3, ' Exec-managerial':4, ' Prof-specialty':5, ' Handlers-cleaners':6, ' Machine-op-inspct':7, ' Adm-clerical':8, ' Farming-fishing':9, ' Transport-moving':10, ' Priv-house-serv':11, ' Protective-serv':12, ' Armed-Forces':13, ' ?':14}
adult['occupation'] =  adult['occupation'].map(mapp)

In [10]:
country = np.array([])
for dataset in adult['native-country']:
    if dataset != ' United-States':
        dataset = 1
    if dataset == ' United-States':
        dataset = 0

    country = np.append(country, [dataset])
print(country)

adult['native-country'] = country

[0. 0. 0. ... 0. 0. 0.]

In [11]:
adult.drop(labels=['education-num'],axis=1,inplace=True)

In [12]:
adult.loc[(adult['capital-gain'] > 0),'capital-gain'] = 1
adult.loc[(adult['capital-gain'] == 0 ,'capital-gain')]= 0
adult.loc[(adult['capital-loss'] > 0),'capital-gain'] = 1
adult.loc[(adult['capital-loss'] == 0 ,'capital-gain')]= 0

In [13]:
print(adult.columns)
adult.isnull().values.any()

Index(['age', 'workclass', 'fnlwgt', 'education', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income'],
      dtype='object')

False

In [14]:
adult.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [15]:
x = adult[['age', 'workclass', 'fnlwgt',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']]
y = adult['income']

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=.3)
X_train, X_val, y_train, y_val = train_test_split(X_train,y_train,test_size=0.2,random_state=5)

X_train

,age,workclass,fnlwgt,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
11683,47,2,177457,0,2,2,3,1,0,0,40,0.0
6376,30,3,179112,2,5,4,3,1,0,0,40,1.0
31757,34,3,143582,2,8,3,2,0,0,0,35,1.0
25996,64,3,125684,0,1,2,0,1,0,0,40,0.0
12866,50,3,231495,0,2,2,0,1,0,0,40,0.0
29773,54,3,215990,0,0,2,0,1,0,0,40,0.0
6748,81,3,122651,0,3,2,0,1,0,0,15,0.0
20728,37,2,199265,0,4,2,0,1,0,0,50,0.0
19787,29,3,46609,2,1,3,3,1,0,0,40,1.0
21349,34,3,146980,5,2,0,0,0,0,0,65,0.0
32153,65,3,174603,4,7,3,0,0,0,0,10,1.0
14006,21,3,363192,2,2,4,0,0,0,0,40,0.0
2915,26,3,198163,0,3,1,0,0,0,0,40,0.0
16313,28,3,124680,2,4,3,0,0,0,0,60,0.0
15193,22,3,200109,0,11,1,0,0,0,0,40,0.0
17308,55,2,53566,1,4,3,0,0,0,0,30,0.0
3561,47,2,214169,0,9,2,0,1,0,0,40,0.0
29237,22,3,113703,2,3,5,0,1,0,0,20,0.0
3977,24,3,228649,2,8,4,0,1,0,0,38,0.0
17027,78,2,237294,4,3,3,0,1,0,0,45,0.0
23082,38,2,184456,0,2,2,0,1,0,0,80,1.0
3643,31,1,33308,0,1,2,0,1,0,0,40,0.0
16509,40,3,101272,1,8,3,0,0,0,0,32,0.0
27138,45,2,341117,1,5,3,0,0,0,0,50,0.0
19268,18,3,59202,2,11,5,0,0,0,0,10,0.0
4893,30,3,156718,2,0,3,0,0,0,0,40,0.0
10516,46,3,24728,2,1,3,0,0,0,0,48,0.0
15428,20,3,451996,2,6,4,0,1,0,0,40,0.0
29031,24,3,125031,2,6,5,0,1,0,0,40,0.0
7678,31,1,149184,0,12,2,0,1,0,0,97,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
24754,21,2,25631,2,9,4,0,1,0,0,40,0.0
559,30,3,152453,0,2,2,0,1,0,0,40,1.0
14257,26,2,201138,2,2,3,0,0,0,0,35,0.0
19513,50,3,174102,1,1,4,0,1,0,0,40,1.0
13577,55,3,272656,0,0,2,0,1,0,0,55,0.0
31585,21,3,39943,2,3,4,0,0,0,0,20,0.0
20145,55,2,396878,0,4,2,3,1,0,0,25,0.0
12919,67,0,190340,0,14,2,0,1,0,0,40,0.0
28966,39,1,184964,1,8,3,0,1,0,0,40,0.0
2947,18,0,297396,2,14,4,0,1,0,0,10,0.0
31763,39,3,132879,0,4,2,0,1,0,0,50,0.0
8568,45,3,377757,0,10,2,0,1,0,0,40,0.0
6326,41,2,226505,1,2,0,0,0,0,0,40,0.0
4302,46,3,241844,0,2,2,0,1,0,0,40,0.0
22624,29,3,163167,1,3,4,0,1,0,0,40,0.0
28258,28,3,336951,0,4,2,0,1,0,0,50,0.0
18179,26,3,152452,0,0,2,0,1,0,0,50,0.0
9341,19,3,302945,2,8,4,0,1,0,0,10,1.0
26954,46,3,162030,4,8,0,0,0,0,0,43,0.0
19425,24,3,122348,0,4,1,0,0,0,0,40,0.0
24998,21,0,433330,2,14,0,0,1,0,0,40,0.0
8288,36,3,88967,2,10,0,1,1,0,0,65,0.0
25698,46,3,110171,0,5,2,0,1,0,0,50,0.0
12991,76,0,79445,0,14,2,0,1,0,0,40,0.0
31285,44,3,121012,1,1,3,0,1,0,0,40,0.0
6898,53,2,151159,5,10,3,0,1,0,0,99,0.0
24026,49,1,98738,0,1,2,0,1,0,0,40,0.0
15391,22,3,401762,2,8,3,0,0,0,0,55,0.0
1008,54,2,123011,0,1,2,0,1,0,0,52,0.0
7664,23,3,215395,2,7,3,0,1,0,0,40,0.0

In [16]:
print ("Train dataset: {0}{1}".format(X_train.shape, y_train.shape))
print ("Test dataset: {0}{1}".format(X_test.shape, y_test.shape))

Train dataset: (18233, 12)(18233,)
Test dataset: (9769, 12)(9769,)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [18]:
models = []
names = ['LR','Random Forest','Neural Network','GaussianNB','DecisionTreeClassifier','SVM',]

models.append((LogisticRegression()))
models.append((RandomForestClassifier(n_estimators=100)))
models.append((MLPClassifier()))
models.append((GaussianNB()))
models.append((DecisionTreeClassifier()))

In [19]:
kfold = model_selection.KFold(n_splits=5,random_state=7)

for i in range(0,len(models)):    
    cv_result = model_selection.cross_val_score(models[i],X_train,y_train,cv=kfold,scoring='accuracy')
    score=models[i].fit(X_train,y_train)
    prediction = models[i].predict(X_val)
    acc_score = accuracy_score(y_val,prediction)     
    print ('-'*40)
    print ('{0}: {1}'.format(names[i],acc_score))

----------------------------------------
LR: 0.7637639833296775
----------------------------------------
Random Forest: 0.8210133801272209
----------------------------------------
Neural Network: 0.7584996709804782
----------------------------------------
GaussianNB: 0.7637639833296775
----------------------------------------
DecisionTreeClassifier: 0.7808729984645756

In [20]:
randomForest = RandomForestClassifier(n_estimators=100)
randomForest.fit(X_train,y_train)
prediction = randomForest.predict(X_test)

In [21]:
print ('-'*40)
print ('Accuracy score:')
print (accuracy_score(y_test,prediction))
print ('-'*40)
print ('Confusion Matrix:')
print (confusion_matrix(y_test,prediction))
print ('-'*40)
print ('Classification Matrix:')
print (classification_report(y_test,prediction))

----------------------------------------
Accuracy score:
0.8196335346504248
----------------------------------------
Confusion Matrix:
[[1321 1026]
 [ 736 6686]]
----------------------------------------
Classification Matrix:
             precision    recall  f1-score   support

          0       0.64      0.56      0.60      2347
          1       0.87      0.90      0.88      7422

avg / total       0.81      0.82      0.82      9769

In [22]:
#adult[['age', 'workclass', 'fnlwgt','marital-status', 'occupation', 'relationship', 'race', 'sex','capital-gain', 'capital-loss', 'hours-per-week', 'native-country']]
X_new = np.array([[56, 3,  189778, 0, 4,  2,  0, 1,  1,  0, 55, 1]])
print(randomForest.predict(X_new))

[0]